/*** RADIAL PROGRESS ***/
/* Circumference = 2πr */
/* π = 3.1415926535898 */
/* r = 35 */

svg.radial-progress {
    height: auto;
    max-width: 400px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129; /* Circumference */
    stroke-width: 1px;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; /* Circumference */ }

svg.radial-progress text {
    fill: #fff;
    font: 500 1em/1 'Montserrat', sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-anchor: middle;
}

/*** COLORS ***/
/* Primary */

.skills-element:nth-of-type(6n+1) circle { stroke: #857FBD; }
.skills-element:nth-of-type(6n+1) text { fill: #857FBD; }

/* Secondary */

.skills-element:nth-of-type(6n+2) circle { stroke: #EF5361; }
.skills-element:nth-of-type(6n+2) text { fill: #EF5361; }

/* Tertiary */

.skills-element:nth-of-type(6n+3) circle { stroke: #FF9853; }
.skills-element:nth-of-type(6n+3) text { fill: #FF9853; }

/* Quaternary */

.skills-element:nth-of-type(6n+4) circle { stroke: #7ACCC8; }
.skills-element:nth-of-type(6n+4) text { fill: #7ACCC8; }

/* Quinary */

.skills-element:nth-of-type(6n+5) circle { stroke: #93ff94; }
.skills-element:nth-of-type(6n+5) text { fill: #93ff94; }