* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
    /*cursor: none;*/
}
a{
    text-decoration: none;
}
section {
    width: 100%;
    height: auto;
    padding: 60px 20%;
    display: flex;
    flex-direction: column;
    background: green;
}
body {
    overflow-x: hidden;
}
header {
    margin: 10px 0;
    display: flex;
    padding: 25px 20%; /*290px - 370px*/
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
}
.nav-title-container {
    display: flex;
}
.nav-title-container .logo {
    background: url("../img/icons/sh_1.svg") no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 50%;
    flex-grow: 1;
    padding: 0 0 0 100px ;
}

.nav-links li{
    list-style-type: none;
}
.nav-links li a {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    letter-spacing: -0.004em;
    text-transform: uppercase;
}
.nav-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.034em;
    padding: 0 10px;
}
header .logo{
    height: 30px;
    width: 30px;
    background: url("../img/icons/Logo.png") no-repeat center;
    background-size: cover;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #33334D 27.74%, #191828 97.29%);
    height: 100vh;
}
.hero-separator {
    width: 77px;
    height: 6px;
    left: 0;
    top: 10px;
    background: #5B5C70;
    margin: 10px 0;
}
.hero-title t1{
    font-size: 65px;
    line-height: 89px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.034em;
}
.hero-title t2{
    font-weight: 800;
    font-size: 70px;
    line-height: 105%;
    letter-spacing: -0.034em;
    text-transform: uppercase;
    font-feature-settings: 'kern' off;
}
.hero-desc{
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding: 10px 0;
}
.link-btn {
    padding: 10px 30px;
    background: #30C8DF;
    border-radius: 35px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    /*letter-spacing: -0.02em;*/
    text-transform: uppercase;
    max-width: 250px;
}

.hero-btn {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 60px;
}
section h1{
    width: 100%;
    font-weight: bold;
    font-size: 38px;
    line-height: 144.9%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding-bottom: 25px;
}
#about {
    padding: 60px 0 0;
    background: #191828;
}
#about .container {
    padding: 0  0 0 370px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.about-sep{
    width: 136px;
    height: 2px;
    left: 103px;
    top: 30px;
    background: #00BCD5;
    margin: 20px 0;
    align-self: start;
}
.about-text {
    margin-left: 20px;
}
.about-text .text-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 117.9%;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}
.about-text .text-desc {
    padding-top: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: -0.035em;
    color: #60606C;
}
.media-container {
    width: 900px;
    height: 450px;
    position: absolute;
    right: 0;
    background: #626262;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 50px rgba(0, 0, 0, 0.25);
    display: none;
}
.about-list{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
.about-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    height: 350px;
    text-align: center;
}
.about-element:nth-child(1){
    background: #353E39;
}
.about-element:nth-child(2){
    background: #8153AB;
}
.about-element:nth-child(3){
    background: #00BCD5;
}
.about-element .icon{
    width: 75px;
    height: 75px;
    /*background: #60606C;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-element .icon i{
    font-size: 70px;
}
.about-element h2{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
#about h1{
    padding-bottom: 100px;
}
.sec-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-sep {
    height: 2px;
    width: 90px;
    margin: 10px;
    background: #C4C4C4;
}
.sec-desc {
    padding-top: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 152.9%;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #C4C4C4;
}
#skills {
    background: #191828;
}
.skills-list {
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
}
.skills-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    flex-grow: 1;
    /*height: 350px;*/
    width: calc(100%/4);
    text-align: center;
}
.skills-element h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 144.9%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-top: 0.5em;
}

#works {
    background: #202231;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.works-list {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    width: 100%;
}
.works-element {
    /*min-width: 400px;*/
    /*width: 400px;*/
    height: 400px;
    background: #60606C;
    /*padding: 50px;*/
    border: 1px inset white;
    overflow: hidden;
    position: relative;
    margin: 0 50px;
}
.works-element .icon {
    top: 0;
    left: 0;
    z-index: 2;
}
.works-element .thumbnail {
    width: 100%;
    margin-top: 0;
    bottom: 0;
    z-index: 0;
    /*-webkit-filter: grayscale(100%) blur(2px);*/
    /*filter: grayscale(100%) blur(2px);*/
    transition: all ease 1.5s;
}
.works-element:hover .thumbnail{
    margin-top: -190%;
 }
.works-element .work-title {
    z-index: 2;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
}
.works-element .icon {
    z-index: 2;
    position: absolute;
    left: 50px;
    top: 50px;
}
.works-element a {
    z-index: 2;
    position: absolute;
    left: 50px;
    bottom: 50px;
}
#works .cta {
    align-self: center;
    margin-top: 80px;
}
.works-list {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
}

.cta{
    padding: 15px 40px;
    background: #F54337;
}
.carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
}
.owl-carousel .owl-nav{
    overflow: hidden;
    height: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
}


.owl-carousel .item {
    text-align: center;
}
.owl-carousel .nav-btn{
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 50% !important;
    transform: translateY(-50%);
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide{
    background: url("../img/nav-icon.png") no-repeat scroll 0 0;
    left: -33px;
}
.owl-carousel .next-slide{
    background: url("../img/nav-icon.png") no-repeat scroll -24px 0;
    right: -33px;
}
.owl-carousel .prev-slide:hover{
    background-position: 0 -53px;
}
.owl-carousel .next-slide:hover{
    background-position: -24px -53px;
}

#why_us {
    background: #F2F4F3;
}
#why_us h1{
    color: #191828;
}
.why-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.why-element {
    width: 280px;
    height: 250px;
    flex-grow: 1;
    padding: 2px;
    transition: all ease 0.5s;
}
.why-element .container {
    width: 70%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all ease 0.5s;

}
.why-element h2 {
    color: #3D3952;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    align-self: start;
    transition: all ease 0.5s;
}
.why-element p {
    color: #808F99;
}
.why-element .container div{
    /*transform: rotateZ(45deg);*/
    /*!*position: absolute;*!*/
    /*top: 25px;*/
    /*left: 16px;*/
    transition: all ease 0.5s;
}

.why-element .container i{
    font-size: 35px;
    color: #3D3952;
    float: right;
    transition: all ease 0.5s;

}
.why-element .container div i {
    font-size: 25px;
    color: #F44335;
    transition: all ease 0.5s;

}
.why-element:hover .container{
    background: white;
}
.why-element:hover h2, .why-element:hover i, .why-element div i{
    color: #00BDD3;
}
#process{
    background: #212030;
}
.process-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.process-element{
    position: relative;
    width: 30%;
    padding: 20px 30px;
}
.process-element:first-child{
    padding-left: 0;
}
.process-element:last-child{
    padding-right: 0;
}
.process-desc{
    text-align: justify-all;
}
.process-element h2{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    align-self: start;
    color: #9CDFE7;
    margin-bottom: 36px;
    z-index: 1;
    transition: all ease 0.5s;
}
.process-element .sep{
    height: 2px;
    width: 120px;
    margin-bottom: 15px;
    background: #9CDFE7;
    transition: all ease 0.5s;
}
.process-desc{
    /*font-weight: bold;*/
    padding-top: 15px;
}
.process-element tx{
    position: absolute;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 0.08em;
    margin-top: -65px;
    margin-left: -30px;
    opacity: 5%;
    z-index: 0;
}
.process-element:hover h2{
    color: #00BDD3;
}
.process-element:hover .sep{
    background: #00BDD3;
}

#testimonials{
    background: #F2F4F3;
    padding-bottom: 120px;
}
#testimonials h1{
    color: #191828;
}
#testimonials .sec-text{
    margin-bottom: 100px;
}
.testimonials-element{
    /*margin-top: 100px;*/
    padding: 80px;
    background: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    color: #93ff94;
    align-items: center;
    /*min-height: 125px;*/
}
.testimonials-element .profile-picture{
    min-width: 125px;
    min-height: 125px;
    max-width: 125px;
    max-height: 125px;
    border-radius: 50%;
    background: #5B5C70;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.testimonials-element .profile-picture img{
    object-fit: cover;
    min-height: 100%;
}
.testimonials-content{
    margin-left: 30px;
    min-height: 125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}
.testimonials-content .profile-info{

}
.testimonials-content .profile-info .test-name{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00BDD3;

}
.testimonials-content .profile-info .test-enterprise{
    margin-top: 7px;
    font-size: 14px;
    font-weight: bold;
    color: #A1A1A1;
}
.testimonials-content p{
    /*font-size: 23px;*/
    /*letter-spacing: 0.1em;*/
    color: #191828;
}
#team{
    background: #191828;
    padding: 60px 150px;
}
#team .cta {
    align-self: center;
    margin-top: 80px;
}
.team-list{
    margin-top: 120px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.team-element{
    height: 400px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px 30px;
    border: 1px solid #A1A1A1;
    border-bottom: 10px solid #2caae1;
    margin: 0 35px;
}
.team-element .profile-picture{
    /*align-self: center;*/
    min-width: 125px;
    min-height: 125px;
    max-width: 125px;
    max-height: 125px;
    border-radius: 50%;
    background: #5B5C70;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.team-element .profile-picture img{
    object-fit: cover;
    min-height: 100%;
}
.team-element .social-links{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}
.team-element i{
    color: #C4C4C4;
    opacity: 0.5;
}
.team-element i:hover{
    color: #FFFFFF;
    opacity: 1;
}
.team-element .socials i{
    font-size: 16px;
}
.team-element .profile-mail i{
    font-size: 24px;
}
.team-element .profile-name{
    font-size: 23px;
    /*font-weight: bold;*/
}
.team-element .profile-job{
    font-size: 13px;
    color: #5B5C70;
}
.team-element .profile-phone{
    font-size: 20px;
    font-weight: bold;
    color: #2caae1;
    margin: 10px 0 5px 0;
    letter-spacing: 0.06em;
}
